<h2 class="text-center lead">Your voice has now been heard!</h2>

<div class="fluid_container text-center message-text">
  <p>
    Thank you for successfully signing the petition. Your signature now contributes towards the total signature count displayed on the home page although it may take a little while to show.
  </p>
  <%= link_to 'Return to the petition', home_path  %>
</div>
