<h2 class="text-center lead alert alert-danger">Your signature has not been found</h2>

<div class="fluid_container text-center message-text">
  <p>
    Sorry but we could not find your signature to confirm it. Perhaps you have already confirmed it?
  </p>
  <%= link_to 'Return to the petition', home_path  %>
</div>
