<h2 class="text-center lead">Your voice has been heard!</h2>

<div class="fluid_container text-center message-text">
  <p>
    Thank you for confirming your signature and signing the petition. Your signature is now being added to the signatures count on the <%= link_to 'home page', home_path  %>.
  </p>
</div>

<%= render 'share_petition' %>
