<div class="confirmation">
  <h1 class="text-center lead alert alert-info"><%= t('signatures.confirmation_error') %></h1>
</div>

<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('links.home').downcase, home_path) %></li>
  </ol>
</div>
