<h1 class="text-center lead alert alert-danger"><%= t('signatures.not_found') %></h1>

<div class="fluid_container text-center message-text">
  <p>
    <%= t('signatures.confirmation_error') %>
  </p>
</div>

<div class="breadcrumb-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to(t('links.home').downcase, home_path) %></li>
  </ol>
</div>
