<div class="signatures-list">
  <h1 class="lead text-center"><%= t('signatures.signatures_by_country') %></h1>

  <% signature_count_by_country(@signatures).each do |country_and_count| %>
    <div class="lead signatures-list-count">
      <%= link_to(country_and_count[0], country_signatures_path(country_and_count[1][1])) %>
      <span class="signature-count"><%= number_with_delimiter(country_and_count[1][0]) %></span>
    </div>
  <% end %>

  <p class="text-right bottom-links"><%= link_to(t('links.home').downcase, home_path) %></p>
</div>
