<h2 class="text-center lead">Your voice has almost been heard ...</h2>

<div class="fluid_container text-center message-text">
  <p>
    We have sent you an email. Please read it and follow the instructions
    to confirm your signature. Thank you.
  </p>
  <%= link_to 'Return to the petition', home_path  %>
</div>
