<h2 class="text-center lead">Almost there...</h2>

<div class="fluid_container text-center message-text">
  <p>
    We have sent you an email. Please read it and click the link
    to confirm your signature. Thank you.
  </p>
</div>
