<p>Hello <%= @signature.name %><p>

<p>
  Thank you for lending your voice to our campaign. With many voices supporting renewed effort to resolve the Israeli-Palestine conflict, we will make a difference.
</p>
<p>
  To confirm your signature, please click <%= link_to 'here', @url %>.
</p>

<p>
  100MillionVoices
</p>
