<p><%= t('.greeting', name: @signature.name) %><p>

<p><%= t('.thank_you') %></p>
<p><%= t('.confrim_signature', link: link_to(nil, @url)).html_safe %></p>

<p><%= t('site_name', default: '100MillionVoices') %></p>
