<div class="container share-petition">
  <div class="row text-center">
    <div class="col-6 col-md-3 share-text">
      Share petition on:
    </div>
    <div class="col-6 col-md-3 facebook-share">
      <%= link_to(facebook_sharing_url, rel: 'external', target: '_blank', class: 'facebook') do
        fa_icon('facebook', text: 'Facebook').html_safe
      end %>
    </div>
    <div class="col-6 col-md-3 twitter-share">
      <%= link_to(twitter_sharing_url, rel: 'external', target: '_blank', class: 'twitter') do
        fa_icon('twitter', text: 'Twitter').html_safe
      end %>
    </div>
    <div class="col-6 col-md-3">
      <%= mail_to('', subject: '100MillionVoices campaign', body: email_share_body, class: 'email') do
        fa_icon('envelope-o', text: 'Email').html_safe
      end %>
    </div>
  </div>
</div>
