$twitter: #00aced;
$facebook: #3b5998;

.petition-text {
  margin-top: 75px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  p {
    margin-bottom: 0.5rem;
  }
}

.sign-petition {
  max-width: 750px;
  padding-right: 0;
}

.counter {
  padding: 30px 0;
}

.counter-number {
  font-size: 3.5rem;
}

.counter-text {
  display: inline-block;
}

#map {
  margin-left: auto;
  margin-right: auto;
}
