.petition-text {
  margin-top: 75px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  p {
    margin-bottom: 0.5rem;
  }
}

.sign-petition {
  max-width: 750px;
  padding-right: 0;
  margin-top: 15px
}

.counter-container {
  padding: 30px 0;
}

.counter {
  display: inline-block;
}

.counter-number {
  font-size: 3.5rem;
}

.counter-text {
  margin-top: -15px;
  float: right;
}
