$twitter: #00aced;
$facebook: #3b5998;
$whatsapp: rgb(69,90,100);

.facebook:link, .facebook:visited {
  color: $facebook;
}
.twitter:link, .twitter:visited {
  color: $twitter;
}
.email:link, .email:visited {
  color: black;
}
.whatsapp:link, .whatsapp:visited {
  color: $whatsapp;
}

.share-petition {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;

  .share-text {
    font-weight: bold;
    padding-bottom: 5px;
  }

  .row {
    border-top: 1px solid #eceeef;
    border-bottom: 1px solid #eceeef;
    margin-left: 0;
    margin-right: 0;

    div:nth-child(even) {
      border-left: 1px solid #eceeef;
    }
    .whatsapp-share, div:nth-child(3) {
      border-top: 1px solid #eceeef;
    }

    @media (min-width: 768px) {
      .whatsapp-share {
        display: none;
      }
      div:not(:first-child) {
        border-left: 1px solid #eceeef;
        border-top: none;
      }
    }
  }

  a {
    padding: 10px;
    text-decoration: none;
  }
  a:hover {
    border: 1px dotted #dcdcdc;
  }

  .col-6 {
    padding: 15px 0;
  }

  .fa {
    font-size: 20px;
    margin-right: 5px;
    padding: 2px;
  }
}
