.signature-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  label {
    display: none;
  }

  small {
    font-style: italic;
    margin-top: 0.2rem;
    text-align: right;
  }

  select {
    width: 100%;
  }

  .sign-it-button {
    margin: 20px 0;
  }
}

.form-group {
  ::placeholder {
    color: silver;
  }
}

.field_with_errors {
  input, input:focus, select, select:focus {
    border-color: red;
  }
}

.error-message {
  font-size: 80%;
  color: #d9534f;
}

.message-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.grecaptcha-badge {
  display: inline-block;
  float: right;
  margin: 0 0 20px 0;
}
