.signatures-list {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  .signatures-list-count {
    padding: 0 10px;
    border-radius: 0.25rem;
  }

  .signatures-list-count:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
  }

  .signature-locations {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .signature-count {
    float: right;
  }
}

.country-count-and-target {
  padding: 15px 20px 0 20px;
  margin-bottom: 20px;
  display: inline-block;
}

.target-status {
  padding: 0 10px;
}

.sign-petition-btn {
  float: right;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: -16px;
  margin-left: 10px;
}
